<!doctype html>
<html lang="en">

<!-- Based on Bootstrap examples on: https://getbootstrap.com/docs/4.0/examples/ -->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Hotjar Tracking Code for spamrobot.ml -->
  <script>
      (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:792803,hjsv:6};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
  </script>

  <title>Report Problem</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- Custom styles for this template -->
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<div class="container">
<div class="row">
<body class="text-center">
  <form class="form-signin" action="{{ url_for('report') }}" method="post" role="form">
    <img class="mb-4" src="{{ url_for('static', filename='img/logo.png') }}" alt="" width="213" height="72">
    <h1 class="h3 mb-3 font-weight-normal " style="color: #ffffff;">Report Problem</h1>
  <div class="form-group">
    <label for="email_problem" style="color:#ffffff;">Email address</label>
    <input name="email_problem" type="email" class="form-control" id="email_problem" placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label for="desk_problem" style="color:#ffffff;">Office Desk</label>
    <select name="desk_problem" class="form-control" id="desk_problem">
      <option>Select a desk</option>
      {% for desk in desks %}
      <option>{{ desk.location_name }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label for="description_problem" style="color:#ffffff;">Description</label>
    <textarea name="description_problem" class="form-control" id="description_problem" rows="3" maxlength="200"></textarea>
  </div>
    <button id="btnSubmit" class="btn btn-lg btn-primary btn-block" type="submit">Send</button>

    {% if result==1 %}
    <div id="myAlert" class="alert alert-success alert-dismissable" role="alert" style="margin-top:10px">
      Your problem was submitted.
    </div>
    {% elif result==-1 %}
    <div id="myAlert" class="alert alert-warning alert-dismissable" role="alert" style="margin-top:10px">
      There was an error. Verify your email or try later.
    </div>
    {% endif %}
  </form>
</div>
<div class="row form-signin" text-center>
  <a href="{{ url_for('login') }}" class="btn btn-lg btn-outline-light btn-block" role="button">Log in</a>
</div>
</div>


  <!-- Optional JavaScript -->

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <script type="text/javascript">
    $(document).ready(function () {
      $('#btnSubmit').click(function () {
        $('#myAlert').show('fade');
      });
    });
  </script>

</body>

</html>
